body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

/* "Hover" determina o comportamento do elemento
ao colocar o mouse em cima dele. */
nav a:hover {
	color: orange;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: orange;
}

.produtos li:active {
	border-color: green;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: white;
	font-size: 13px;
	margin: 20px 0 0;
}
/*Início do CSS da página de contato*/
/* main {
	
} */

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px 0;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* Aqui criaremos o CSS
do que estará na parte inicial                    */

.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	/*Queremos que, independente do tamanho da
	fonte padrão, o título tenha o dobro do tamanho.
	Para simbolizar o tamanho da fonte, usamos [em].
	E então adicionamos a unidade que irá
	"multiplicar" a proporção do tamanho padrão da fonte.  */
	font-size: 2em;
	margin: 0 0 1em;
	/* O "float" que criamos para o elemento que
	está acima desse faz esse mudar de posição.
	Para anular isso, usamos o [clear] e
	informamos o tipo de float usado.                      */
	clear: left;
	/*OBS.: Ver 'opacity' em [Ctrl+F].
	Também é possível usar opacidade em cores.
	Se usarmos rgba para cores, adicionamos a opacidade nela. 
	color: rgba(0, 0, 0, 0.3);                                  */

	/* Para criar uma sombra no texto,
	usamos [text-shadow].
	As propriedades são iguais ao box-shadow.
	text-shadow: 2px 2px #FF0000;                              */
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

/*Para referenciar algo dentro da "class=principal", 
usamos [.principal + (o elemento)]                   */
.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

/* Não confundir a tag [em] (ênfase)
que referenciaremos agora com
a medida referente ao tamanho da fonte.              */
.principal em {
	font-style: italic;
}   

.utensilios {
	width: 120px;
	/* Para configurar a imagem de forma que
	o texto fique em volta dela, usamos o [float].
	Ele faz com que um elemento "descole" da página,
	mas o espaço onde ele estava continua sendo ocupado.
	Também precisamos adicionar o lado em que ele ficará.  */
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	/*Existe uma propriedade no CSS
	que permite fazer um "degradê"/gradiente.
	É a [linear-gradient], e coloca-se
	as 2+ cores entre parênteses, separadas por vírgula.  */
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
	/*OBS.: Ver 'box-shadow' em [Ctrl+F].
	Também é possível adicionar sombras internas
	em elementos usando o 'inset'.                
	box-shadow: inset 0 0 30px #FF0000;              */
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

/* Uma das maneiras de selecionar
apenas o 1o item de uma lista
é usando a pseudo-classe [:first-child]*/
.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟎";
}

.imagem-beneficios {
	width: 60%;
	/* Opacidade refere-se a uma 'película' que é
	colocada em cima do elemento. 
	O número de opacidade que for colocado significa
	a porcentagem do elemento que veremos,
	onde 0 = não ver o elemento e 1 = ver ele completamente. */
	opacity: 1;
	transition: 400ms;
	/* Para ter sombra num elemento, usamos [box-shadow].
	Propriedades: eixo X, eixo Y, "desfoque", intensidade e cor. */
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/*Agora faremos uma 'media query' (query = pesquisa)
Vamos perguntar ao navegador o tamanho daquela tela,
e se for o tamanho que eu quero,
eu vou entregar um estilo diferente.
Pra fazer 'media query', usamos
[@media], colocamos o tipo de tela que
estamos buscando, geralmente o valor [screen],
adicionamos [and] e colocamos a pesquisa entre parênteses.
Nesse caso, na pesquisa, queremos que todas as telas que
tenham até 480px entreguem um estilo diferente,
e, para isso, faremos alterações na página, entre chaves.
Essas alterações serão aplicadas em telas da medida colocada.
Para essa pesquisa, escrevemos [(max-width: 480px)]                      */
@media screen and (max-width: 480px) {
	/* Mudaremos o que está "fora" da
	largura da tela do celular,
	para que seja exibido "dentro" da tela.
	OBS.: O vídeo da página está com largura fixa,
	por causa do '<iframe>', logo, mudaremos isso em 'index.html'.         */
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	/* Queremos que, no celular, o logo da Barbearia Alura
	fique centralizado, portanto, mudaremos o <h1> onde ele está.          */
	h1 {
		text-align: center;
	}

	/* E queremos que o menu, que atualmente é 'absolute',
	volte a ser 'static'.                                                 */
	nav {
		position: static;
	}

	/* A parte dos benefícios está muito apertada.
	A lista ocupa 40% da tela e a foto, 60%.
	Mudaremos ambos para 100%.                                           */
	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}

/* Continuando o conceito de pais e filhos:
para selecionar a tag <p> filha,
devemos colocar o sinal de [>].                         
main > p {
	background: red;
}
*/
/*Para selecionar a
1a tag <p> irmã,
usamos a tag [img] como âncora
e colocamos o "+" para
referenciar a tag <p> que queremos.                     
img + p {
	background: blue;
}
*/
/*Já se quisermos selecionar
todos os <p> seguintes à <img>,
usamos o [~].                                           
img ~ p {
	background: yellow;
}
*/
/*E para excluir o parágrafo
que não têm [id: missão],
usamos "p:not(#missao)".                                
.principal p:not(#missao) {
	background: orange;
}
*/
/*##################################################*/
/*
"padding: 20px 0" (header) > margem interna.
Faz com que tenha um espaço entre
o menu (conteúdo) e o topo da página.          

.caixa: serve para centralizar
o conteúdo desejado.
"position: relative" > permite que
o conteúdo se destaque.
"width: 940px" > largura padrão na web.
"margin: 0 auto" > como é a margem externa,
faz com que o conteúdo fique centralizado
automaticamente, em qualquer tamanho de tela. 

"position: absolute" > nos permite
colocar o elemento em questão
em qualquer lugar da página.

"top: 110px" (nav) > permite posicionar
o menu do cabeçalho no centro dele.
"right: 0" deixa ele colado à direita,
dentro da "caixa" criada pro cabeçalho. 

nav li: referência à lista.

nav a: referência ao link. 
									*/

